
.ChatMain
  .ChatMain__RightHeader
    .ChatMain__RightHeader__Group

      .ChatMain__RightHeader__Group__GroupName
        = @group.name

      .ChatMain__RightHeader__Group__EditButton
        = link_to "Edit", edit_group_path(current_user)
      
    .ChatMain__RightHeader__MemberList
      Member:
      - @group.users.each do |user|
        = user.name

  .ChatMain__MessageField
    = render @messages

  .Chat-Main__Footer
    = form_with model: [@group, @message], html: {class: "Chat-Main__Footer__Form"}, local: true do |f|
      .Chat-Main__Footer__Form
        = f.text_field :content, class: 'Chat-Main__Footer__Form__text-form', placeholder: 'type a message'
        = f.label :image, class: 'Chat-Main__Footer__Form__Image' do
          =icon('fas', 'image')
          = f.file_field :image, class: 'Chat-Main__Footer__Form__Image__file'
      = f.submit 'Send', class: 'Chat-Main__Footer__Form__submit-btn'