.Side-bar
  .Side-bar__LeftHeader
    .Side-bar__LeftHeader__List
      = current_user.name
      .Side-bar__LeftHeader__List__Username
      .Side-bar__LeftHeader__List__IconList
        = link_to new_group_path(current_user)  do
          = icon('far', 'edit', class: 'icon')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  
  .Side-bar__GroupList
    - current_user.groups.each do |group|
      .Side-bar__GroupList__Group
        = link_to group_messages_path(group) do
          .Side-bar__GroupList__Group__GroupName
            = group.name
          .Side-bar__GroupList__Group__GroupMessage
            = group.show_last_message